<html>

  <head>
    <style>
      table { background-color: white; } body { font-family: 'proxima-nova';
      font-size: 18px; font-size: 1.8rem; font-weight: 300; }
    </style>
  </head>

  <body>
    <table cellpadding="8">
      <tbody>
        <tr>
          <td>
            <p>Hi {{name}},</p>
            <p>A password reset for your account was requested.</p>
            <p><b>{{code}}</b>
              Please use this code for creating a new password.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Thanks,<br />Team Impero!</p>
            {{!-- <img style="height: auto; max-width: 180px;" src="{{logoURL}}" /> --}}
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>