<html>
  <head>
    <style>
      table {
        background-color: white;
      }
      body {
        font-family: 'proxima-nova';
        font-size: 1.8rem;
        font-weight: 300;
      }
    </style>
  </head>

  <body>
    <table cellpadding="8">
      <tbody>
        <tr>
          <td>
            <p>Hi, {{name}}</p>
            <p>Thank you for signing up!!</p>
            <p>Your account is ready. Kindly login to access the resources.</p>

            <p><strong>Your Credentials:</strong></p>
            <ul>
              <li><strong>Username/Email ID:</strong> {{username}}</li>
              <li><strong>Password:</strong> {{password}}</li>
            </ul>

            <p>Please keep this information secure.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>Thanks, <br /> Team Impero!!</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
