<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="../../public/css/404Page.css">
</head>
<body>
  <main class="container">
    <div class="leftSection">
      <img src="../../public/icons/404.png" alt="Astronaut" class="astronaut">
      <div class="errorText">404</div>
    </div>

    <div class="rightSection">
      <h1 class="title">Page Not Found</h1>
      <p class="message">
        It seems you’ve drift off course.<br>
        Let’s get you back to mission control.
      </p>
      <a href="/" class="homeBtn">Go Home</a>
    </div>
  </main>
</body>
</html>
